<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header_content">
            <div class="header_content_vector">
               <img src="/static/images/Vector.svg">
               <img src="/static/images/Vector1.svg">
            </div>
            <div class="header_content_link">
                <a href="#main">Jane Doe</a>
                <a href="#main_form">Tell us about yourself</a>
                <a href="#slider">Slider</a>
            </div>
        </div>
    </header>

    <main id="main" class="main">
        <div  class="main_info">
            <img class="main_vector" src="/static/images/Vector4_1.svg">
            <img class="main_vector" src="/static/images/Vector4_2.svg">
            <img class="main_rectangle1" src="/static/images/Rectangle8_1.svg">
            <img class="main_rectangle" src="/static/images/Rectangle7_1.svg">
            <div class="main_info_content">
                <img class="main_photo" src="/static/images/Rectangle1.png">

                <div class="content_text">
                    <h2>Jane Doe</h2>
                    <div class="text_aboutMe">
                        <div>
                            <p>Date of birth</p>
                            <p>21.04.2001</p>
                        </div>
                        <div>
                            <p>Gender</p>
                            <p>Female</p>
                        </div>
                        <div>
                            <p>Country</p>
                            <p>Korea</p>
                        </div>
                    </div>
                    <div class="text_aboutMe">
                        <h2>About me</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat.</p>
                            <br>
                            <p>Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                            officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>


        <div id="main_form" class="main_form">
            <img class="form__rectangle" src="/static/images/Rectangle8.svg">
            <img class="form__rectangle1" src="/static/images/Rectangle9.svg">
            <img class="form__rectangle2" src="/static/images/Rectangle7.svg">
            <img class="form__rectangle3" src="/static/images/Rectangle8_2.svg">
            <img class="form__rectangle4" src="/static/images/Rectangle9_2.svg">
            <img class="form__rectangle5" src="/static/images/Rectangle7_2.svg">
            <img class="form_rectangle6" src="/static/images/Rectangle8_1.svg">
            <img class="form_rectangle7" src="/static/images/Rectangle7_1.svg">

            <div class="main_form_content">
                <h2>Tell us about yourself</h2>
                <form action="/" method="" class="main_form_content_info">
                    <div class="block_1">
                        <div>
                            <p class="info_text">Your name</p>
                            <input class="info_input" type="text" name="name" maxlength="25" placeholder="Tell us your name">
                        </div>
                        <div>
                            <p class="info_text">Your gender</p>
                            <select class="info_input" name="gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="block_2">
                        <div>
                            <p class="info_text">Your country</p>
                            <input class="info_input" type="text" name="city" placeholder="Where are you from?">
                        </div>
                       <div>
                           <p class="info_text">Your City</p>
                           <input class="info_input" type="text" name="country" placeholder="Your native city">
                       </div>
                       <div>
                           <p class="info_text">Your date of birth</p>
                           <input class="info_input" type="text" name="date" placeholder="dd.mm.yyyy">
                       </div>
                    </div>
                    <div class="form_add_document">
                        <p class="document__text">Proof your identity with some documents</p>
                        <button >Add document</button>
                    </div>
                    <input type="submit" name="submit" class="info_submit" value="Send info">
                </form>
            </div>

        </div>

        <div id="slider" class="slider">
            <div class="carousel">
                <div class="carousel_item visible">
                    <img src="/static/images/Rectangle10.png">
                    <div class="slide_info">
                        <p class="slide_title">Slide this photo</p>
                        <p class="slide_text">Duis aute irure dolor in reprehenderit in voluptate
                            velit esse <br>
                            cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
                <div class="carousel_item">
                    <img src="/static/images/panorama.jpg">
                    <div class="slide_info">
                        <p class="slide_title">Slide this photo</p>
                        <p class="slide_text">Duis aute irure dolor in reprehenderit in voluptate
                            velit esse <br>
                            cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
                <div class="carousel_item" >
                    <img src="/static/images/waves_ocean.jpg">
                    <div class="slide_info">
                        <p class="slide_title">Slide this photo</p>
                        <p class="slide_text">Duis aute irure dolor in reprehenderit in voluptate
                            velit esse <br>
                            cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
                <div class="carousel_actions">
                    <img src="/static/images/Vector3.png" id="carousel_button--prev" class="prev">
                    <img src="/static/images/Vector4.png" id="carousel_button--next" class="next">
                </div>
                <div class="carousel_nav">

                </div>
            </div>
        </div>
    </main>

<script src="/js/app.js"></script>
</body>
</html>